.Wrapper {
  display: flex;
  height: 100vh;
}

.side-bar {
  width: 300px;
}

.side-header {
  background-color: #253141;
  height: 100px;
  padding: 0px 20px;
}

.side-chatrooms {
  background-color: #2f3e51;
  height: calc(100vh - 100px);
  padding: 0px 20px;
}

.main-chat {
  width: calc(100vw - 300px);
}

.main-header {
  background-color: #ffffff;
  height: 100px;
  padding: 0px 40px;
}

.show-message {
  background-color: #fafafa;
  height: calc(100vh - 100px - 90px);
  padding: 46px 40px 0px;
}

.form {
  padding: 20px 0px;
  background-color: #dddddd;
  height: 90px;
  padding: 20px 40px;
}
